<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Previous History</h1>
    <div>
        {%for record in records%}
        <div>
            <br>welcome{{request.user}}<br><br>
            marks obtained={{record.marks_obtained}}<br>
            right answer={{record.right_answer_count}}<br>
            wrong answer={{record.wrong_answer_count}}<br>
            date={{record.date}}<br>
        </div>

        {%endfor%}
    </div>
</body>
</html>